
<!-- Footer -->
<!-- tu bedzie trzeba zmienic zeby dolaczac te ikonki w projekcie-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<footer class="page-footer" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      
      <hr class="clearfix w-100 d-md-none pb-3">
  
      <!-- Grid row -->
      <div class="row" >
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3" >
  
          <!-- Content -->
          <h5>iFridge </h5>
          <p>Najlepsza aplikacja internetowej lodówki na kursie Metod Wytwarznia Oprogramowania w semestrze zimowym 2019/2020. Nie masz czasu na jedzenie, bo piszesz prace inżynierską? Podaj co masz w lodówce, a dietę ułozymy za Ciebie!</p>
  
        </div>
        <!-- Grid column -->
  
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3" >
  
          <!-- Links -->
          <h5>Linki</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!"><i class="fa fa-home fa-1x"></i>Strona głowna</a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-search fa-1x"></i>Szukaj przepisu</a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-wrench fa-1x"></i>Ustawienia</a>
            </li>
            <li>
              <a href="#!"><i class="fa fa-phone fa-1x"></i>Kontakt</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->

      <div class="row" >

          <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="list-inline">
                        
              <li>
                  <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
              </li>               
              <li>
                  <a href="#"><i class="fa fa-reddit fa-2x"></i></a> 
              </li>
              <li>
                  <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
              </li>      
              <li>
                  <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
              </li>           
              <li>
                  <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
              </li>                        
            </ul>
          </div>

      </div>
  
    </div>
    <!-- Footer Links -->
    <hr class="clearfix w-100 d-md-none pb-3">
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://localhost:4200"> iFridge.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->