
.page-footer{
	padding-top:60px;
}

.fa.fa-facebook , 
.fa.fa-instagram, 
.fa.fa-flickr , 
.fa.fa-reddit, 
.fa.fa-linkedin ,
.fa.fa-tumblr ,
.fa.fa-google-plus , 
.fa.fa-tumblr {
	color:#b1aca1;
	font-size:20px;
	padding:10px;
}

.fa.fa-facebook:hover, 
.fa.fa-instagram:hover,
.fa.fa-flickr:hover,
.fa.fa-reddit:hover, 
.fa.fa-linkedin:hover,
.fa.fa-tumblr:hover,
.fa.fa-google-plus:hover, 
.fa.fa-tumblr:hover {
	color:#6794c2;
}
