<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iFridge</a>
    </div>
    <div id="navbar" class="navbar-expand-sm bg-light navbar-light">
      <ul class="nav navbar-nav navbar-right" *ngIf="currentUser; else elseBlock">
        <li><a href="/profile">{{currentUser}}</a></li>
        <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
      </ul>
      <ng-template #elseBlock>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
