<div class="row">
	<div class="col-md-4 col-md-offset-4" style="padding-top:100px;">
		<h2>Login</h2>
		<form [formGroup]="loginForm" (ngSubmit)="logIn()">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && controls.username.errors }" />
				<div *ngIf="submitted && controls.username.errors" class="invalid-feedback">
					<div *ngIf="controls.username.errors.required">Username is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && controls.password.errors }" />
				<div *ngIf="submitted && controls.password.errors" class="invalid-feedback">
					<div *ngIf="controls.password.errors.required">Password is required</div>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary">Login</button>
				<a routerLink="/register" class="btn btn-link">Register</a>
			</div>
		</form>
		<button (click)="resetPassword()">Reset password</button>
		<div *ngIf="alert" style="margin-top:50px" class="alert alert-info">{{alert}}</div>
	</div>
</div>