<h2 class="sub-header">Dodaj składnik</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Składnik</label>
        <input class="app-add-new-ingredient form-control"
               [(ngModel)]="ingredient.name"
               #inputElement="ngModel"
               id="name"
               name="name"
               placeholder="Wprowadź składnik">
      </div>
      <div class="form-group">
        <label for="amount">Ilość</label>
        <input type="text"
               [(ngModel)]="ingredient.amount"
               class="form-control"
               id="amount"
               name="amount"
               placeholder="Wprowadź ilość"
               required #amount="ngModel">
      </div>
      <div class="form-group">
        <label for="uom"></label>
        <input type="text"
               [(ngModel)]="ingredient.uom"
               class="form-control"
               id="uom"
               name="uom"
               placeholder="Szt"
               required #uom="ngModel">
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Dodaj</button>
    </form>

