
<div class="container bootstrap snippets">
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form class="form-horizontal">
        <div class="panel panel-default">
          <div class="panel-body text-center">
           <img src="https://www.eyedocs.co.uk/components/com_community/assets/user-anon.png" class="img-circle profile-avatar" alt="User avatar">
          </div>
          <div class="panel-body text-center">
              <p class="username">Nazwa użytkownika</p>
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Informacje o Tobie</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Płeć</label>
                <div class="col-sm-10">
                    <input type="radio" name="gender" value="male"> Mężczyzna
                    <input type="radio" name="gender" value="female"> Kobieta
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Waga</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control">
                </div>
              </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Wzrost</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Typ diety</label>
            <div class="col-sm-10">
              <select class="form-control">
                <option value="current_weight" selected>Utrzymanie obecnej wagi</option>
                <option value="less_weight">Zrzucenie sadełka</option>
                <option value="more_weight">Budowa mięśni</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">Potwierdź</button>
              <button type="reset" class="btn btn-default">Anuluj</button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Bezpieczeństwo</h4>
        <h5 class="panel-subtitle">Zmiana hasła</h5>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Obecne hasło</label>
            <div class="col-sm-10">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nowe hasło</label>
            <div class="col-sm-10">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Powtórz nowe hasło</label>
            <div class="col-sm-10">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">Potwierdź</button>
              <button type="reset" class="btn btn-default">Anuluj</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>