<h1>{{recipe.recipeName}}
    <div style="font-size:10px">
        Czas przygotowania {{recipe.prepTime}} minut  | {{recipe.kcal}} kcal
    </div>
</h1>

<div>
    <p>
        {{recipe.recipeDescription}}
    </p>
    <p>
      <!-- TODO przeiterowac jakos ladnie, logicznie, obejrzyj obiekt -->
      <!-- TODO poklikac po stronie, zmienic cos jak brzydkie-->
      <!-- TODO dodac przepisow sporo do sql, tyle ile sie uda-->
      {{recipe.quantityDtoList[0].ingredient}}
      {{recipe.quantityDtoList[0].ingredientQuantity}}
      {{recipe.quantityDtoList[0].unitOfMeasurement}}
      {{recipe.quantityDtoList[0].unitOfMeasurement}}
      {{recipe.recipeStepDtoList[0].stepDescription}}
      {{recipe.recipeStepDtoList[0].stepNumber}}
    </p>
</div>


