<div *ngFor="let recipe of recipes">
    <h1>{{recipe.recipeName}}
        <div style="font-size:10px">
            Czas przygotowania {{recipe.prepTime}} minut | {{recipe.kcal}} kcal
        </div>
    </h1>

    <div>
      <p>
        {{recipe.recipeDescription}}
      </p>
      <p *ngFor="let ingredient of recipe.quantityDtoList">
        {{ingredient.ingredient}}
        {{ingredient.ingredientQuantity}}
        {{ingredient.unitOfMeasurement}}
      </p>
      <p *ngFor="let step of recipe.recipeStepDtoList">
        {{step.stepDescription}}
        {{step.stepNumber}}
      </p>
    </div>
</div>
